{:deps {io.github.unclebob/deintroverter4clj
        {:git/url "https://github.com/unclebob/deintroverter4clj.git"
         :git/sha "fe3e8be4d39adfb8dadd3e0de999e1cd815183a2"}}
 :tasks
 {deintroverter {:requires [[deintroverter.core :as core]]
                 :task (apply core/-main *command-line-args*)}}}
